<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>

    <form method="post" action="/listings/<%=listing._id%>?_method=PUT" >

        <input type="text" name="listing[title]" value="<%=listing.title%>" placeholder="enter title">
        <br><br>
        <textarea name="listing[description]"><%=listing.description%></textarea>
        <br><br>
        <input type="text" name="listing[image]" value = "<%=listing.image%>" >
        <br><br>
        <input type="number" name="listing[price]" value="<%=listing.price%>" id="">
        <br><br>
        <input type="text" name="listing[location]" value="<%=listing.location%>" id="">
        <br><br>
        <input type="text" name="listing[country]" value="<%=listing.country%>....." id="">
        <br><br>
        <button>edit</button>
    </form>
    
</body>
</html>